@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Raleway:wght@100;400&family=Roboto:wght@400;900&display=swap');

body {
    width: 100vw;
    height: 100vh;
 }

header {
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 24px;
 }
 
 header .logo .menu{
    justify-content: center;
    display: flex;
 }

