/*HEADER*/

header {
    padding: 8px 24px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    background: rgba(255, 255, 255, 1);
 }

 header .header-top {
    display: flex;
    justify-content: center;
 }

 header .header-top img {
    margin-left: 32px;
}

 header .header-search {
    margin-left: 356px;
    margin-right: 356px;
    display: flex;
    justify-content: center;
}

header .header-search input {
    width: 348px;
    height: 40px;
    border: 1px solid #c4abab;
}

header .header-search button {
    width: 57px;
    height: 40px;
}

header .header-alert {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap:24px;
}

header .header-alert img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
 }


/*MAIN*/


main .play-video {
    margin-left: 77px;
    padding: 10px 0;
    
}

main .views {
    width: 450px;
    height: 25px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 19px;
}

main .text {
    padding-top: 40px;
    width: 500px;
}

main .dio-logo {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
}

main .buttons-video {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 42px;
    flex-direction: row;
}

main .subscribe button {
    width: 159px;
    height: 40px;
    border: transparent;
    border-radius: 2px;
    background: #C00;
    color: #FFF;
    font-size: 14px;
    text-transform: uppercase;
}

main .play-video .like-button {
    display: flex;
    flex-direction: row;
    align-items: center;
}

main .play-video .dislike-button {
    display: flex;
    flex-direction: row;
    align-items: center;
}

main .play-video .share-button {
    display: flex;
    flex-direction: row;
    align-items: center;
}

main .play-video .donwload-buton {
    display: flex;
    flex-direction: row;
    align-items: center;
}

main .like-button p {
    margin-left: 9px;
}
main .dislike-button p {
    margin-left: 9px;
}
main .share-button p {
    margin-left: 9px;
}
main .donwload-buton p {
    margin-left: 9px;
}

main .play-video 


/*ASIDE*/

main .playlist-videos {
background-color: #C00;

}

main .video {
    display: flex;
    margin-bottom: 15px;
    flex-direction: column;
    width: 196px;
    max-height: 90px;
    margin-left: 16px;
    padding-top: 6px;
    font-size: 13px;
}

main .info-video {
    width: 196px;
    max-height: 90px;
    margin-left: 16px;
    padding-top: 6px;
    font-size: 13px;
    flex-direction: column;
}

main .channel-video  {
    padding-top: 6px;
    font-size: 13px;
    flex-direction: column;
}

main .channel-views {
    padding-top: 6px;
    font-size: 13px;
    flex-direction: column;
}