
header {
    padding: 8px 24px;
    justify-content: space-between;
    align-items: center;
    display: flex;
 }

 header .header-top {
    display: flex;
    justify-content: center;
 }

 header .header-top img {
    margin-left: 32px;
}

 header .header-search {
    margin-left: 356px;
    margin-right: 356px;
    display: flex;
    justify-content: center;
}

header .header-search input {
    width: 348px;
    height: 40px;
    border: 1px solid #c4abab;
}

header .header-search button {
    width: 57px;
    height: 40px;
}

header .header-alert {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap:24px;
}

header .header-alert img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
 }



main .play-video {
    margin-left: 80px;
}

main .play-video-main .title{
    padding: 20px;
}

main .play-videos .details-video {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

aside .playlist-videos {
    margin-left: 45px;
}

aside .playlist-videos .video {
    display: flex;
    margin-bottom: 15px;
}

aside .playlist-videos .video .info-video {
    width: 196px;
    max-height: 90px;
    margin-left: 16px;
}

aside .playlist-videos .video .info-video .channel-video .channel-views {
    padding-top: 6px;
}

aside .playlist-videos .video .info-video .channel-video p .channel-views p {
    font-size: 13px;
}