@import url(./global.css);

header {
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 24px;
 }
 
 header .menu-logo {
    justify-content: center;
    display: flex;
 }

h1 .title {
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}

main .video {
    padding-left: 60px;
    width: 952px;
    height: 537px;
}

main .video .dio-logo {
    display: flex;
    padding-top: 20px;
}